.btn {
  background: #FA9F42;
  border-radius: 0px 20px;
  border: 0px solid #FA9F42;
  color: #fdfdfd;
  padding: 10px;
  font-family: 'Raleway Medium', arial;
  transition: 0.5s;
  font-size: medium;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn:hover,
.btn.active{
  background-color: #fdfdfd;
  border-color: #fdfdfd;
  color: #FA9F42;
}