#sprint-game {
  /* display: none; */

}

.sprint-game-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #e5e5e5;
  position: fixed;
  top: 10vh;
  max-width: 1920px;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: #000;
  align-content: center;
}

.block {
  width: 22%;
  text-align: center;
  background: inherit;
  border-radius: 0px 20px;
  border: 1px dotted #10b582;
  color: #fdfdfd;
  padding: 10px;
  font-family: 'Raleway Medium', arial;
  transition: 0.5s;
  font-size: medium;
}

.block.active {
  border: 1px solid #FA9F42;
  background: #FA9F42;
  color: #000;
}

.block-wrapper {
  width: 22vw;
  min-width: 200px;
  gap: 1vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.block:nth-child(2),
.block:nth-child(3) {
  border-radius: 20px 0px;
}

.sprint-game__button-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.sprint-game__button-wrapper .btn:nth-child(2) {
  border-radius: 20px 0;
}